* {
    margin : 0;
    padding: 0;
}

body {
    top           : 0;
    display       : flex;
    flex-direction: column;
    width         : 100%;
    text-align    : center;
}

.name {
    margin   : 0.5rem;
    font-size: 30px;
}

.avatar {
    width        : 50%;
    height       : 25%;
    margin-left  : auto;
    margin-right : auto;
    margin-bottom: 1.5rem;
}

.phone {
    margin   : 0.25rem;
    font-size: 30px;
    color    : lightgrey;
}

.inputArea {
    margin-top: 2rem;
}

.inputArea span {
    flex      : 3;
    text-align: right;
}

.inputArea input {
    flex        : 7;
    height      : 56px;
    font-size   : 18px;
    padding-left: 1.5rem;
    border      : rgba(0, 0, 0, 0);

}

.inputArea .old,
.new {
    height       : 56px;
    width        : 100%;
    border       : lightgray 1px solid;
    border-left  : none;
    border-right : none;
    border-bottom: none;
    line-height  : 56px;
    display      : flex;
}

.inputArea .again {
    display     : flex;
    height      : 56px;
    width       : 100%;
    border      : lightgray 1px solid;
    border-left : none;
    border-right: none;
    line-height : 56px;
}
