body {
    top           : 0;
    display       : flex;
    flex-direction: column;
    width         : 100%;
    text-align    : center;
}

.back {
    color      : white;
    float      : left;
    line-height: 60px;
    font-size  : 20px;
}

.name {
    margin   : 0.5rem;
    font-size: 30px;
}

.phone {
    margin   : 0.25rem;
    font-size: 30px;
    color    : lightgrey;
}

.avatar {
    width        : 50%;
    height       : 25%;
    margin-left  : auto;
    margin-right : auto;
    margin-bottom: 1.5rem;
}

.buttonArea {
    margin-top: 1rem;
}

button {
    background-color: white;
    border          : lightgrey 1px solid;
    width           : 100%;
    height          : 56px;
    display         : float;
    padding-left    : 40px;
    padding-right   : 40px;
}

button span {
    line-height: 42px;
    font-size  : 18px;
}

button .right {
    float: right;
    color: lightgray;
}

button .left {
    float: left;
}