* {
    margin   : 0;
    padding  : 0;
    font-size: 16px;
}

a {
    text-decoration: none;
    color          : #000;
}

html,
body {
    font-size: 16px;
    height   : 100%;
}

ul {
    width          : 100%;
    list-style-type: none;
}

.dxhead {
    height     : 3.5rem;
    line-height: 2.5rem;
    text-align : center;
    background : #1B82D2;
}

.bodyflex {
    height   : 100%;
    display  : flex;
    flex-flow: column;
}

.content {
    margin   : 12px;
    padding  : 0px;
    flex     : 1;
    display  : flex;
    flex-flow: column;
}

.titlebar {
    text-align: center;
    font-size : 1.2rem;
    color     : #FFF;
    padding   : 0.5rem;
    flex      : 1;
    font-weight: bold;
}

.title {
    flex        : 1;
    font-size   : 1.2rem;
    margin-right: 3rem;
}

.ret {
    text-align: left;
    font-weight: normal;
}

.flexlayout {
    display        : flex;
    align-items    : center;
    overflow       : hidden;
    justify-content: center;
}

.mainbutton, .normalbutton {
    margin-top     : 1.5rem;
    width          : 100%;
    padding        : 1rem 0.5rem;
    text-align     : center;
    text-decoration: none;
    color          : #FFF;
    border         : none;
    border-radius  : 8px;
    font-size      : 20px;
    background     : #1B82D2;
}

.normalbutton {
    background: #FFF;
    color: #000;
    border: 1px solid black;
}


.flexlayout li {
    flex: 1;
}

.flexlayout span {
    width: 3.5rem;
    color: #000;
}

.portait {
    display        : flex;
    margin-bottom  : 3rem;
    justify-content: center;
}

.portait .main {
    width: 40%;
}

.portait .full {
    margin-left: 0.5rem;
    width      : 70%;
}

.footer {
    bottom    : 0px;
    margin-top: 2px;
    height    : 4rem;
    font-size : 0.8125rem;
    text-align: center;
    background: #FFF;
    border-top: 1px solid black;
}

.footer img {
    width : 1.5rem;
    height: 1.5rem;
}

.footer a {
    color    : black;
    font-size: 50%;
}

.footer div {
    width : 1rem;
    margin: 0 auto;
}